In [1]:
import numpy as np
import pandas as pd

/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [3]:
fl_dummies = pd.get_dummies(train_df['FinelineNumber'])
fl_dummies.tail()

,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,9964.0,9966.0,9967.0,9970.0,9971.0,9974.0,9975.0,9991.0,9997.0,9998.0
647049,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
647050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
647051,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
647052,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
647053,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
testing_df = train_df['FinelineNumber'].value_counts().reset_index()
testing_df.index = testing_df['index']
testing_df.drop(columns='index',inplace=True)
testing_df['ratio'] = testing_df['FinelineNumber'] * 100 / len(train_df['FinelineNumber'])
testing_df

        FinelineNumber     ratio
index
5501.0            8244  1.274082
1508.0            5121  0.791433
135.0             4538  0.701333
808.0             4401  0.680160
0.0               3837  0.592995
9546.0            2997  0.463176
1407.0            2848  0.440149
4606.0            2753  0.425467
115.0             2723  0.420830
203.0             2639  0.407848
100.0             2634  0.407076
3004.0            2607  0.402903
4010.0            2531  0.391157
3601.0            2465  0.380957
3600.0            2455  0.379412
110.0             2237  0.345721
3120.0            2074  0.320530
3555.0            2056  0.317748
8101.0            2037  0.314811
5017.0            1980  0.306002
801.0             1946  0.300748
7010.0            1935  0.299048
5620.0            1896  0.293020
202.0             1895  0.292866
9100.0            1885  0.291320
4624.0            1834  0.283438
3467.0            1751  0.270611
7955.0            1749  0.270302
9101.0            1721  0.265975
3702.0            1655  0.255775
...                ...       ...
6213.0               1  0.000155
2289.0               1  0.000155
5380.0               1  0.000155
8539.0               1  0.000155
7231.0               1  0.000155
4314.0               1  0.000155
5578.0               1  0.000155
8554.0               1  0.000155
1152.0               1  0.000155
7773.0               1  0.000155
8565.0               1  0.000155
6177.0               1  0.000155
1765.0               1  0.000155
5564.0               1  0.000155
238.0                1  0.000155
5217.0               1  0.000155
5218.0               1  0.000155
3496.0               1  0.000155
1791.0               1  0.000155
3492.0               1  0.000155
7159.0               1  0.000155
5518.0               1  0.000155
2861.0               1  0.000155
6227.0               1  0.000155
4495.0               1  0.000155
2311.0               1  0.000155
524.0                1  0.000155
7130.0               1  0.000155
2847.0               1  0.000155
7313.0               1  0.000155

[5195 rows x 2 columns]

In [5]:
%%time
ls = []
for i in testing_df.index:
    ls.append(len(train_df[['DepartmentDescription','FinelineNumber']][train_df['FinelineNumber'] == i]))
len(ls)

CPU times: user 32.8 s, sys: 2.97 ms, total: 32.8 s
Wall time: 32.8 s

In [6]:
ls1 = []
for i in testing_df.index:
    ls1.append(i)

In [7]:
df = pd.DataFrame()
df['FinelineNumber'] = ls1
df['Duplicated_num'] = ls

In [8]:
df.tail()

      FinelineNumber  Duplicated_num
5190          2311.0               1
5191           524.0               1
5192          7130.0               1
5193          2847.0               1
5194          7313.0               1

In [9]:
df['Duplicated_num'].describe()

count    5195.000000
mean      123.758422
std       298.338825
min         1.000000
25%        10.000000
50%        35.000000
75%       115.000000
max      8244.000000
Name: Duplicated_num, dtype: float64

In [10]:
dfls1 = df[df['Duplicated_num']<10]['FinelineNumber'].values
len(dfls1)

1271

In [11]:
dfls2 = df[df['Duplicated_num']>115]['FinelineNumber'].values
len(dfls2)

1294

In [12]:
dfls = list(dfls1) + list(dfls2)

In [13]:
dfls1 = dfls[:641]
dfls2 = dfls[641:1282]
dfls3 = dfls[1282:1923]
dfls4 = dfls[1923:]

In [14]:
fl_dummies1 = fl_dummies[dfls1]

In [15]:
fl_dummies2 = fl_dummies[dfls2]

In [16]:
fl_dummies3 = fl_dummies[dfls3]

In [17]:
fl_dummies4 = fl_dummies[dfls4]

In [18]:
fl_dummies1.shape , fl_dummies2.shape , fl_dummies3.shape , fl_dummies4.shape

((647054, 641), (647054, 641), (647054, 641), (647054, 642))

In [19]:
fl_dummies1['VisitNumber'] = train_df['VisitNumber']
fl_dummies2['VisitNumber'] = train_df['VisitNumber']
fl_dummies3['VisitNumber'] = train_df['VisitNumber']
fl_dummies4['VisitNumber'] = train_df['VisitNumber']

/home/hskimim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/hskimim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/hskimim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/hskimim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [ ]:
fl_dummies1 = fl_dummies1.groupby(by='VisitNumber').sum()

In [ ]:
fl_dummies2 = fl_dummies2.groupby(by='VisitNumber').sum()

In [ ]:
fl_dummies3 = fl_dummies3.groupby(by='VisitNumber').sum()

In [ ]:
fl_dummies4 = fl_dummies4.groupby(by='VisitNumber').sum()

- FinelineNumber의 중첩된 갯수가 1번째 쿼터 , 4번째 쿼터에 해당되는 컬럼만을 추출해서 사용한다.
- FinelineNumber가 가리키는 DepartmentDescription의 갯수가 1번째 쿼터, 4번째 쿼터에 해당되는 컬럼만을 추출해서 사용한다.